.elementor-211 .elementor-element.elementor-element-c1158e6 .elementor-spacer-inner {
	height: 50px;
}

.elementor-211 .elementor-element.elementor-element-a18ef77 .elementor-heading-title {
	font-family: "Arial", Sans-serif;
}

.elementor-211 .elementor-element.elementor-element-9c9d338 {
	font-family: "Arial", Sans-serif;
}

.elementor-211 .elementor-element.elementor-element-8a45506 .elementor-spacer-inner {
	height: 50px;
}

.elementor-211 .elementor-element.elementor-element-b3076f5 .elementor-heading-title {
	font-family: "Arial", Sans-serif;
}

.elementor-211 .elementor-element.elementor-element-7075021 {
	font-family: "Arial", Sans-serif;
}